body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
header {
  border-bottom: 1px solid seashell;
  height: 69px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
header img {
  max-height: 50px;
  padding-left: 10px;
}
header nav {
  text-align: right;
  display: inline-block;
  min-width: 500px;
}
header nav ul {
}
header nav ul li {
  display: inline-block;
  padding-right: 10px;
}
header nav ul li a {
  color: seashell;
  opacity: 0.9;
}
